
<div align="center">
	<img align="center" alt="Upc" src="/assets/upc.png" width="200" />
	<h1 align="center">Universidad Peruana de Ciencas Aplicadas</h1>
	<h2 align="center">Estructura de datos y algoritmos</h2>
</div>
<br>

<div align="center">
	<div class="panel panel-default" style="width: 250px;align-self: center">
		<div class="panel-heading"><h2>Grupo 4</h2></div>
		<% 	alumnos = ['Frank Rojas Sulca','Gedeon Melbin','Spencer Camacho']	
		alumnos.each do |alumno| %>
		<div class="panel-body"><%= alumno %></div>
		<% end %>
	</div>
</div>