<h1 align="center">Planilla de haberes</h1>
<div align="center">
	<h5>Importar archivo CSV, con información de personal:</h5>
	<%= form_tag({:action => :import}, multipart: true) do %>
	<%= file_field_tag :file , :required => true %>
	<div>
		<%= submit_tag "Cargar" , data: { confirm: "¿Está seguro de generar archivo?" } %>
	</div>
	<% end %>
</div>

