<h1>Planilla de haberes</h1>
<separator>
	<h5>Importar archivo CSV, con información de personal:</h5>
<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file , :required => true %>
  <div>
  	<%= submit_tag "Generar" , data: { confirm: "¿Está seguro de generar archivo?" } %>
	</div>
<% end %>